@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #0a0a0a;
  --card: #fff;
  --card-foreground: #0a0a0a;
  --popover: #fff;
  --popover-foreground: #0a0a0a;
  --primary: #f05d67;
  --primary-foreground: #fff;
  --secondary: #fce8e9;
  --secondary-foreground: #8a1f27;
  --muted: #f5f2f2;
  --muted-foreground: #736b6c;
  --accent: #fce8e9;
  --accent-foreground: #8a1f27;
  --destructive: #e40014;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #f05d67;
  --radius: 0.75rem;
}

.dark {
  --background: #060606;
  --foreground: #fafafa;
  --card: #0b0b0b;
  --card-foreground: #fafafa;
  --popover: #0b0b0b;
  --popover-foreground: #fafafa;
  --primary: #f05d67;
  --primary-foreground: #fff;
  --secondary: #3b181b;
  --secondary-foreground: #fce8e9;
  --muted: #272324;
  --muted-foreground: #a39d9e;
  --accent: #3b181b;
  --accent-foreground: #fce8e9;
  --destructive: #ff6568;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #f05d67;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
